<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smileshark.mapper.ExamPaperReleaseMapper">
    <insert id="insertExamPaperRelease">
        insert into exam_paper_release
            (exam_paper_release_id,
             exam_paper_id,
             administrator_id,
             exam_paper_release_time,
             exam_start_time,
             exam_end_time,
             notes) VALUES
            (#{examPaperRelease.examPaperReleaseId},
             #{examPaperRelease.examPaperId},
             #{examPaperRelease.administratorId},
             #{examPaperRelease.examPaperReleaseTime},
             #{examPaperRelease.examStartTime},
             #{examPaperRelease.examEndTime},
             #{examPaperRelease.notes})
    </insert>
    <resultMap id="examPaperReleaseMap" type="examPaperRelease">
        <id property="examPaperReleaseId" column="exam_paper_release_id"/>
        <association property="examPaper" column="exam_paper_id" select="com.smileshark.mapper.ExamPaperMapper.selectExamPaperByExamPaperId"/>
    </resultMap>
    <select id="selectExamPaperReleaseByExamPaperReleaseId" resultMap="examPaperReleaseMap">
        select * from exam_paper_release where exam_paper_release_id = #{examPaperReleaseId}
    </select>
    <resultMap id="examPaperReleaseMapToExam" type="examPaperRelease">
        <id property="examPaperReleaseId" column="exam_paper_release_id"/>
        <association
                property="examPaper"
                column="exam_paper_id"
                select="com.smileshark.mapper.ExamPaperMapper.selectExamPaperByExamPaperIdToExam"/>
    </resultMap>
    <select id="selectExamPaperReleaseByExamPaperReleaseIdToExam" resultMap="examPaperReleaseMapToExam">
        select * from exam_paper_release where exam_paper_release_id = #{examPaperReleaseId}
    </select>
</mapper>