<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smileshark.mapper.QuestionOnTestPaperMapper">
    <insert id="insertItem">
        insert into question_on_test_paper(question_id, exam_paper_id)
        values (#{questionOnTestPaper.questionId},#{questionOnTestPaper.examPaperId})
    </insert>
    <resultMap id="questionOnTestMapperMap" type="questionOnTestPaper">
        <association property="question" column="question_id"
                     select="com.smileshark.mapper.QuestionMapper.selectQuestionByQuestionId"/>
    </resultMap>
    <select id="selectByExamPaperId" resultMap="questionOnTestMapperMap">
        select * from question_on_test_paper where exam_paper_id = #{examPaperId}
    </select>
    <delete id="deleteByExamPaperId">
        delete from question_on_test_paper where exam_paper_id = #{examPaperId}
    </delete>
</mapper>